*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background-color: #f3d778;
    font-size: 12pt;
    font-family: Arial;
}

a{
    color: #5c7f07;
    text-decoration: none;
}

#container{
    width: 800px;
    margin: 30px auto;
    background-color: #94bc35;
    box-shadow:  0 0 5px #fff;
    padding: 20px;
}

#header{
    height: 150px;
    background-color: #769f13;
    border-radius: 10px 10px 0 0;
}

#header h1{
    padding: 45px 0 0 20px;
    color: #fff;
}

#header h2{
    color: white;
    padding: 5px 0 0 20px;
    font-weight: 100;
}

#menu{
    background-color: #f3d778;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

#menu a{
    padding: 0 10px 0 10px;
    color: #121212;
    font-weight: 100;
}

#wrapper{
    background-color: #f3e5b5;
    border-radius: 0 0 10px 10px;
}

#content{
    float: left;
    width: 500px;
    border-right: 1px solid #769f13;
    padding: 25px;
    background-color: #fff;
    border-radius: 0 0 0 10px;
}

#content img{
    width: 100%;
}

aside{
    float: left;
    margin: 15px 5px 0 30px;
    width: 150px;
}

footer{
    text-align: center;
    color: #000; 
}

.clear{
    clear: both;
}

aside a {
    display: block;
    padding: 10px;
}

