*{
    margin: 0;
    padding: 0;
}
body{
    font-family: cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://i.pinimg.com/originals/3d/71/fc/3d71fc66a02b509ae180345081bbdc28.jpg");
}
figure{
    width: 300px;
    margin: auto;
    margin-top: 130px;
    box-shadow: 10px 10px 10px #000;
    border-radius: 20px;
}
figure>img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
h1, .dist{
    display: inline-block;
    width: 49%;
}
h1{
    font-size: 20px;
}
.dist img{
    vertical-align: middle;
}
.dist{
    text-align: right;
}
.estrelas img{
    width: 100px;
}
figcaption{
    padding: 10px;
}
.horario *{
    display: inline-block;
    width: 65px;
    line-height: 30px;
}
.clock{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 5px;
}
.horario{
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
}
.reserva{
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 42, 0, 0.742);
    padding-top: 10px;
    text-align: center;
}
.dias{
    text-align: center;
    margin-top: 10px;
}