*{
    margin: 0;
    padding: 0;
}
#linha{
    height: 500px;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#a{
    background-color: aqua;
    font-weight: bold;
}
#b{
    background-color: blueviolet;
    font-weight: bold;
}
#c{
    background-color: blue;
    font-weight: bold;
}
#a,#b,#c{
    height: 100px;
}
#a,#c{
    flex-grow: 1;
}
#b{
    flex-grow: 2;
}