*{
    margin: 0;
    padding: 0;
}
#linha{
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
#a{
    background-color: aqua;
    font-weight: bold;
}
#b{
    background-color: blueviolet;
    font-weight: bold;
}
#c{
    background-color: blue;
    font-weight: bold;
}